<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="dog" action="../" method="post">
      <label for="name">Name:</label><input type="text" name="name" value="">
      <label for="age">Age: </label><input type="text" name="age" value="">
      <label for="breed">Breed: </label><input type="text" name="breed" value="">
      <input type="submit" name="submit" value="submit">
    </form>
  </body>
</html>
