<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <p>The dog's name is: <%= @name %></p>
    <p>The dog's age is: <%= @age %></p>
    <p>The dog's breed is: <%= @breed %></p>
  </body>
</html>
